    .main-content .top{
        margin-top: 3%;
    }
    .gmnoprint div{
        background-color: #444!important;
        color: #FFF!important;
    }
	.banner-details{
		min-height: 410px;
	}
    .banner-details .header{
		font-size: 18px;
		padding: 15px 0; 
    }
    .banner-details .content .x-rows{
    	padding: 10px 25px;
    	display: inline-flex;
    }
    .banner-details .content .x-rows span{
		display: block;
		width: 40%;
    }
    .banner-details .content .x-rows .x-label{
    	color: #888;
    	background-color: none;
    }
    .banner-details .content .x-rows .x-value{
    	font-size: 15px;
    	color: #444;
    }